
@{
    ViewBag.Title = "Fourth";
}
<h2>Fourth</h2>
<style>
    .s1 {
        color: blue;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Button1").click(function () {
            $("#d1").addClass("s1");
        });
        $("#Button2").click(function () {
            $("#d1").removeClass("s1");
        });
        $("#Button3").click(function () {
            $("#d1").toggleClass("s1");
        });
    });
</script>
@using (Html.BeginForm())
{
    <div id="d1"><h1>This is a div tag</h1></div>
    <input id="Button1" type="button" value="Add Style" />
    <input id="Button2" type="button" value="Remove Style" />
    <input id="Button3" type="button" value="Add/Remove Style" />
}
